<div class="container container-primary text-center spacey">
    <div class="row">
        <h2><strong>{{User.username}}</strong></h2>
    </div>
    <div class="row">
        <h5>Account created on {{User.created}}</h5>
    </div>
    <hr>

    <div class="row text-center spacey" id="recently">
        <h3>Bookmarked Tutorials</h3>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        {{#each tutorials}}
        <div class="col-lg-4 col-md-6">
            <a href="/tutorials/{{this._id}}">
                <div class="thumbnail">
                    <img src="{{this.thumbnail}}">
                    <div class="caption">
                        <h4>{{this.name}}</h4>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</div>